html {
  font-size: 62.5%;
}

body {
  color: #8d8d8d;
  font-family: Inter, sans-serif;
  font-size: 1.6rem;
}

a {
  color: #111111;
  font-weight: 500;
}

body .markdown-body {
  font-family: Inter, sans-serif;
  font-size: 1.4rem;
}

body .markdown-body h1,
body .markdown-body h2,
body .markdown-body h3,
body .markdown-body h4 {
  color: #111111;
}

body .markdown-body h1 {
  border-bottom: none;
  font-size: 3.2rem;
}

body .markdown-body h2 {
  border-bottom: none;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

body .markdown-body h3 {
  font-size: 1.4rem;
  line-height: 2rem;
}

body .markdown-body hr {
  height: 1px;
  background-color: #f2f2f2;
}

body .markdown-body ul,
body .markdown-body ol {
  padding-left: 1.8rem;
}
